:root {
  --base: "#ffff00";
  --spacing: 10px;
  --blur: 10px;
}
img {
  padding: var(--spacing);
  background: var(--base);
  filter: var(--blur);
}

body {
  text-align: center;
  background-color: rgb(183, 216, 177);
  font-family: "Courier New", Courier, monospace;
  font-weight: 100;
  font-size: 50px;
}
.control {
  margin-bottom: 50px;
}
.update {
  color: var(--base);
}
